.cardProject {
    display: flex;
}

.cardProject__container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardProject__img__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardProject__img {
    padding-top: 1rem;
    width: 508px;
    height: 256px;
    object-fit: cover;
    object-position: top;
}

.cardProject__technologys {
    padding-top: 1rem;
    width: 60%;
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    /* color: var(--buttoms-color); */
    flex-wrap: wrap;
}

.cardProject__texts {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardProject__buttons {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
}

.cardProject__cta {
    padding: 1rem;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 700;
    transition: transform 0.3s ease;
}

.cardProject__cta:hover {
    transform: scale(1.1);
}