.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__logo {
    font-weight: 400;
    color: var(--white);
}

.nav__link {
    margin-left: 10px;
    text-decoration: none;
    color: var(--white);
}

.nav__link:hover {
    color: var(--primary);
    text-decoration: underline;
}

@media (max-width: 500px) {
    .header {
        flex-direction: column;
    }

    .header__logo {
        text-align: center;
    }
}