.bg1 {
    background-image: url(../../public/icons/Monochromatic.svg);
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: top;
    background-size: 20rem;
}

.bg2 {
    background-image: url(../../public/icons/Monochromatic2.svg);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: bottom;
    background-size: 20rem;
}

.hero {
    padding-top: 5rem;
}

.hero__titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.1rem;
    padding-bottom: 3rem;
}

.hero__title {
    font-weight: 700;
    font-size: 2rem;
    color: var(--white);
}

.hero__paragraphs {
    text-align: center;
}

.hero__paragraph {
    padding: 0 13rem;
    color: var(--primary);
    line-height: 2rem;
}

@media (max-width: 768px) {
    .hero__paragraph {
        padding: 0;
        line-height: normal;
    }

    .bg1,
    .bg2 {
        background-image: none;
    }
}

@media (max-width: 500px) {
    .hero__paragraph {
        line-height: normal;
    }
}